<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="./internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.Targets.Aliyun"/>
    </extensions>

    <targets>
        <!-- console target -->
        <target xsi:type="Console" name="console" />
        
        <!-- Aliyun target -->
        <target xsi:type="Aliyun" name="aliyun"
                endpoint="<your-endpoint>"
                project="<your-project-name>"
                accessKeyId="<your-access-key-id>"
                accessKey="<your-access-key>"
                logStore="<your-log-store-name>">
            <contextProperty name="time" layout="${longdate}" />
            <contextProperty name="level" layout="${level}" />
            <contextProperty name="sequence" layout="${sequenceId}" />
            <contextProperty name="message" layout="${message}" />
            <contextProperty name="exception" layout="${exception:format=ToString,StackTrace}" includeEmptyValue="false" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="aliyun" />
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
</nlog>
